@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');


.testimonials {
    background: #FBF6EA;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
}

.leftSide {
    margin: 8%;
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: -4%;
    width: 32%;
    margin-right: -3%;
}

.rightSide {
    width: 50%;
}

.leftSide .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    padding-top: 6px;
    padding-bottom: 8vw;
    text-transform: uppercase;
    text-align: left;
    color: #232536;
}

.leftSide .nextHead {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-top: 0;
    margin-bottom: 5%;
}

.leftSide .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.border {
    opacity: 0.4;
    border: 0.01em solid #6D6E76;
    margin: 6%;
}

.rightSide {
    margin: 5%;
    margin-left: 0;
    margin-right: 0;
}

.rightSide .heading {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    padding-right: 15%;
    color: #232536;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 2px;
    margin-right: 30%;
    min-height: 40vh;
    height: 40vh;
    width: 100%;
    overflow-y: auto;
}

.rightLower .person .name {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #232536;
    margin-bottom: 0;
}

.rightLower {
    margin-top: 5%;
    align-items: center;
    margin-left: 15%;
}

.rightLower .person .company {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin-top: 0;
}

.rightLower {
    display: flex;
}

.rightLower .person {
    width: 75%;
    padding: 10px;
}

.rightLower .buttons {
    align-content: right;
    align-items: right;
    float: right;
    display: flex;
}

.rightLower .buttons:hover {
    cursor: pointer;
}

.rightLower .buttons .back {
    margin-right: 20px;
    object-fit: cover;
    width: 62px;
}

.person .name,
.heading,
.person .company {
    animation-name: fade;
    animation-duration: 1.5s;
}

.pad-btn {
    padding-top: 18vh;
    padding-bottom: 10px;
}

.addbutton {
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.addbutton.accept-btn:hover {
    background-color: #000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.form {
    width: 300px;
    padding: 10px 40px 10px 30px;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    border: 1px solid #ccc;
    color: #333;
    width: calc(100% - 30px);
}

input,
textarea {
    border-radius: 4px;
    padding: 8px 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    width: 300px;
}

@keyframes fade {
    from {
        opacity: .05
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 886px) {
    .pad-btn {
        padding-top: 14vh;
    }
}

@media only screen and (max-width: 640px) {
    .testimonials {
        display: block;
    }

    .pad-btn {
        padding-top: 18px;
        padding-bottom: 10px;
    }

    .leftSide {
        width: 75%;
        padding: 5%;
        padding-top: 8%;
    }

    .rightSide {
        width: 75%;
        padding-left: 13%;
        padding-right: 0;
    }

    .rightSide .heading {
        width: 75vw;
    }

    .rightLower {
        margin-left: 0;
        margin-top: 25px;
        margin-right: 10px;
    }

    .rightLower .buttons {
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
    }
    .rightLower .buttons .back {
        width: 40px;
        height: 40px;
    }
    .rightLower .buttons .next {
        width: 50px;
        height: 50px;
    }
    .rightLower {
        width: 75%;
    }
}

@media only screen and (max-width: 320px) {
    .rightSide .heading {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 24px;
        word-spacing: 2px;
        margin-right: 10%;
        min-height: 32vh;
        height: 32vh;
        width: 70vw;
    }
    .rightLower .person .name {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    .rightLower .person .company {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .leftSide .nextHead{
        font-size: 1.6rem;
    }
    .leftSide .text {
        font-size: 1rem;
    }
}