@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sen:wght@700&display=swap');

.profile-card {
    position: relative;
    width: 16.5vw; 
    height: 290px;
    display: inline-block; /* display the profile cards as inline blocks */
    vertical-align: top; /* align the profile cards to the top of the container */
    align-items: center;
    text-align: center;
    margin: 0 142px 50px 0;
    padding-top: 15px;
    background-color: #FBF6EA;
  }
  
  /* add a media query to adjust the layout on smaller screens */
@media screen and (max-width: 800px) {
    .profile-card {
      width: 45vw; /* set the width of each profile card to 45% on small screens */
      text-align: center;
    }
  }
  
@media screen and (max-width: 600px) {
    .profile-card {
      width: 90vw; /* set the width of each profile card to 90% on very small screens */
    }
  }

/* profile card info */
.profile-card_info {
    padding: 0 20px;
  }
  
.profile-card img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
  }
  
.profile-card h3 {
    font-family: 'Sen', sans-serif;
    font-size: 23px;
    height: 37px;
    margin: 20px 0;
  }
  
.profile-card p {
    font-size: 18px;
    color: #666;
    font-family: 'Inter', sans-serif;
    height: 40px;
  }

.social-icons {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding-top: 3px;
  }
  
a.social {
    margin: 0 1rem;
    display: inline-block;
    color: #232536;
  }

a.social:hover {
  color: #2c2d37c8;
  }