body{
  font-family: 'San';
  background-color: #FFF8E7;
}
.mealCard {
  background-color: #FBF6EA;
  padding: 2.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: 1px solid #FBF6EA;
  cursor: pointer;
  max-width: 250px;
  min-width: 200px;
  margin: auto;
}
.mealContainer > .mealCard {
  margin-top: 1rem; 
}

.mealCard:hover {
  transform: translateY(-6px) scale(1.03);
  background-color: #DFF0D8;
  border-color:  #AED581;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.selected {
  background-color: #DFF0D8;
  border-color:  #AED581;
  transform: translateY(-6px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.mealCard h3 {
  margin: 0;
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
}

.mealCard p {
  margin-top: 0.7rem;
  color: #666;
  font-size: 1rem;
}

.mealContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
}

@media (max-width: 768px) {
  .mealContainer {
      flex-direction: column;
      align-items: center;
      gap: 1rem;  
  }

  .mealCard {
      width: 80%;
      margin-top: 0;  
  }
}
.mealCard {
  background-color: #FDFDFD;
  padding: 2.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px #E0E0E0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #FBF6EA;
  cursor: pointer;
  max-width: 250px;
  min-width: 200px;
  margin: auto;
  color: #555;
  margin-top: 1rem;
}

.mealCard:hover {
  transform: translateY(-6px) scale(1.03);
  background-color: #DFF0D8;
  border-color:  #AED581;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.selected {
  background-color: #DFF0D8;
  border-color:  #AED581;
  transform: translateY(-6px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.mealCard h3 {
  margin: 0;
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
}

.mealCard p {
  margin-top: 0.7rem;
  color: #666;
  font-size: 1rem;
}

.mealContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.mealTimings:hover .mealCard.selected {
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.mealCard:hover {
  opacity: 0.9;
}

