@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Sen&display=swap");

.aboutUs {
  background: #f4f0f8;
  margin-left: 4%;
  margin-right: 4%;
}

.about_type3,
.about_type2 {
  display: none;
}

.heading {
  /* Cap 1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left;
  /* margin: 5%; */
  margin-top: 0;
  padding-top: 5%;
  margin-bottom: -2%;
  color: #232536;
}

.content1 {
  width: 45%;
  margin: 5%;
  text-align: left;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 1.5%;
}

.content1 .part1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  /* line-height: 48px; */
  /* or 133% */

  letter-spacing: -2px;
  margin-right: 0;
  padding-right: 0;

  /* Black */
  color: #232536;
}

.content2 {
  width: 50%;
  margin: 5%;
  text-align: left;
  margin-bottom: 0;
}

.content2 .part1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 40px;
  /* or 143% */

  letter-spacing: -1px;

  /* Black */
  color: #232536;
}

.item1 {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}

.item2 {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: left;
}

.item2 .part1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* or 175% */
  width: 45%;

  /* Medium grey */

  color: #6d6e76;
  margin: 5%;
  margin-top: 0;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.item2 .part2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* or 175% */
  width: 50%;

  /* Medium grey */
  color: #6d6e76;
  margin: 5%;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.item2 .part1 p {
  margin: 5%;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item2 .part2 p {
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.more {
  margin: 5%;
  margin-top: 2%;
  padding-top: 0;
  display: flex;
}

.more .link {
  width: 50%;
}

.more .text {
  width: 50%;
  margin-bottom: 2%;
}

.more a {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;
  color: #592ea9;
  text-decoration: none;
}

.more p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 3px;
  text-transform: uppercase;

  /* Black */

  color: #232536;
  text-align: right;
}

.about_design {
  display: flex;
  height: 2%;
  margin: 4%;
  margin-bottom: 0;
}

.about_design .d1 {
  background: #ffffff;
  color: #ffffff;
  width: 20%;
}

.about_design .d2 {
  background: #ffd050;
  width: 60%;
  color: #ffd050;
}

.about_design .d3 {
  background: #592ea9;
  color: #592ea9;
  width: 20%;
}

.about_design p {
  /* padding: 0.5%; */
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .aboutUs {
    margin-left: 0;
    margin-right: 0;
  }

  .about_design {
    margin: 0;
    margin-bottom: 0;
  }

  .heading {
    padding-top: 15%;
    padding-bottom: 5%;
    padding-left: 1%;
  }

  .about_design .d1 {
    background: #ffffff;
    color: #ffffff;
    width: 20%;
  }

  .about_design .d2 {
    background: #ffd050;
    width: 80%;
    color: #ffd050;
  }

  .about_design .d3 {
    background: #592ea9;
    color: #592ea9;
    width: 80%;
  }

  .main-content {
    width: 100%;
  }

  .content1 {
    width: 100%;
    margin-right: 2%;
  }

  .item2 .part1 {
    width: 100%;
    margin-right: 2%;
  }

  .content2 {
    width: 100%;
    margin-right: 2%;
  }

  .item2 .part2 {
    width: 100%;
    margin-right: 2%;
  }

  .more {
    margin: 5%;
    margin-top: 0;
    padding-top: 0;
  }

  .more .text {
    width: 100%;
    margin-left: 0;
  }

  .more .link {
    width: 100%;
  }

  /* .content1, .content2, .item2 .part1 p, .item2 .part2 p, .more{
        margin-left: 5%;
    } */
  .about_type1 {
    display: none;
  }

  .about_type2,
  .about_type3 {
    display: block;
  }
}
