.profile-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin-left: 3vw; */
  }

.profile-list {
  margin-left: 0rem;
}

@media screen and (max-width: 900px) {
  .profile-list {
    margin-left: 2vw; 
  }
}

@media screen and (max-width: 1400px ) and (min-width: 900px) {
  .profile-list {
    margin-left: 1vw;
  }
}
  
.title {
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 50px;
}

@media screen and (max-width: 750px) {
    .profile-list {
      margin-left: 3.5vw; 
    }
    .title {
      font-size: 5vw;
    }
}
  


  