.header{
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(181, 181, 181, 0.3)), url("/public/header.png"); 
    height: 80vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: right 50% bottom 30%;
    background-size: cover;
    right: 0px;
    margin:0;
}
@media (max-aspect-ratio: 3/2) {
    .header{
        height: 66vh;
        background-position: right 50% bottom 20%;
    }
}
@media (max-aspect-ratio: 1/1) {
    .header{
        height: 50vh;
    }
}
@media (min-aspect-ratio: 3) {
    .header{
        min-height:50vw; 
    }
}
.hallName{
position: absolute;
width: 60vw;
left: 8%;
top: 7vh;
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 9.6vh;
line-height: 0.9;
letter-spacing: -2px;
color: #6D6E76;
}

@media (max-aspect-ratio: 3/2) {
    .hallName{
        top: 8vh;
        width: 65vw;
        font-size: 7.8vh;
    }
}
@media (max-aspect-ratio: 1/1) {
    .hallName{
        top: 9vh;
        font-size: 5vh;
    }
}
@media (max-width:450px) {
    .hallName{
        left: 5%;
    }
}
@media (max-width:300px) {
    .hallName{
        left: 2%;
    }
}
.hallDescription{
    position: absolute;
    left: 8%;
    top: 44vh;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vh;
    line-height: 1.2;
    width:32vw;
    color: #FFFFFF;
    fill:#FFFFFF;
    -webkit-text-stroke: 0.1px #000000;
}
@media (max-aspect-ratio: 3/2) {
    .hallDescription{
        top: 36vh;
        width: 32vw;
        font-size: 2vh;
    }
}
@media (max-aspect-ratio: 1/1) {
    .hallDescription{
        top: 29vh;
        width: 30vw;
        font-size: 1.4vh;
    }
}
@media (max-width:450px) {
    .hallDescription{
        left: 6%;
        font-size: 9px;
    }
}
@media (max-width:350px) {
    .hallDescription{
        left: 5%;
        font-size: 8px;
    }
}
@media (max-width:300px) {
    .hallDescription{
        left: 2%;
        width: 34vw;
        line-height: 1;
    }
}
.headerReadMore{
    padding: 0px;
    flex-direction: row;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    font-family: 'Sen';
    max-height: 54px;
    left: 8%;
    top: 70vh;
    height: 6vh;
    font-size: 2.5vh;
    width:20vw;
    background: #FFD050;
    border: none;
}
@media (max-width: 450px) {
    .headerReadMore{
        left:5%;
    }
}
@media (max-width: 300px) {
    .headerReadMore{
        left:2%;
    }
}
@media (max-aspect-ratio: 3/2) {
    .headerReadMore{
        top: 60vh;
        height: 4.6vh;
        font-size: 2vh;
        width: 20vw;
    }
}
@media (max-aspect-ratio: 1/1) {
    .headerReadMore{
        top: 45.6vh;
        height: 3.2vh;
        font-size: 1.4vh;
        width:15vh;
    }
}
.headerReadMore:hover{
    cursor: pointer;
}