/*
sen
*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;400&family=Sen:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
}

.gallery-box {
  display: flex;
  padding-top: 10.3vw;
  /* justify-content: space-between; */
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid rgba(109, 110, 118, 1); */
}
.gallery-left {
  padding: 20px;
  /* height: auto; */
  /* border: 1px solid rgb(216, 121, 12); */
}
.gallery-right {
  padding: 20px;
  height: auto;
  /* border: 1px solid rgb(6, 16, 95); */
}
.gallery-box h2 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0px;
  letter-spacing: -2px;
  color: #232536;
  /* margin-bottom: 2vw; */
}

.gallery-left .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-sizing: border-box;
  margin: 0;
  padding: 4.8%;
  padding-bottom: 20px;
  /* height: calc(100% - 3.6em); */
  opacity: 0.9;
  height: auto;
  /* Medium grey */

  border: 1px solid #6d6e76;
  border-radius: 5px;
}
.gallery-left .content img {
  width: 100%;
  height: auto;
  /* margin-top: 7%; */
  /* margin: 5%; */
  border-radius: 17px; 
  /* object-fit: cover; */
}

.gallery-left .content h4 {
  /* Festival for you, Tradition for us. */
  /* margin-bottom: 2vw; */

  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-block-end: 0.5em;
  margin-block-start: 0em;
  color: #232536;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-left .content-text {
  height: auto;
}

.gallery-left .gallery-text {
  width: 100%;
  /* height: 100%; */
  /* position: relative; */
  /* left: 6%; */

  /* Body 1 */

  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  margin: 8% 0;
  /* Medium grey */

  color: #6d6e76;
}
.gallery-box  button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2% 5%;
  gap: 12px;
  border: 0;

  position: relative;
  width: 100%;
  height: 100%;
  /* left: 69%;
  bottom: 5.5%; */
  justify-content: center;
  align-items: center;

  background: #ffd050;
}
label {
  /* ILLUMINATION l 2016 */
  width: 151px;
  height: 20px;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #4c4c4c;
}

.gallery-box button > .gallery-text {
  /* Read More > */
  /* width: 120px; */
  height: 24px;

  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  justify-content: center;
  align-items: center;

  /* Black */

  color: #232536;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.gallery-right  .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 3.6em);
}
.gallery-right  .content  img {
  width: 100%;
  /* height: 12.5vw; */
  margin: 2px 0;
  border-radius: 10px;
}

.right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-top > .gallery-text {
  /* View All */
  margin-bottom: 1vw;
  /* position: absolute; */
  width: 60px;
  height: 28px;
  /* right: 80px;
  top: 939px; */

  /* Body 1 */

  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Purple */

  color: #592ea9;
}

@media screen and (max-width: 900px) {
  .gallery-box  h2 {
    font-size: 30px;
  }
  .gallery-right > .content > img {
    height: auto;
  }
  .gallery-left .content {
    padding: 25px;
  }

  .gallery-left .content h4 {
    font-size: 20px;
    line-height: 28px;
  }

  .gallery-left .gallery-text {
    font-size: 12px;
    line-height: 13px;
  }
  
  label{
    font-size: 10px;
  }

  .gallery-box  button > .gallery-text {
   font-size: 14px;
}

}



@media screen and (max-width: 400px) {

  .gallery-box  button > .gallery-text {
   font-size: 12px;
}

}

