@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Montserrat:wght@500;600;700&family=Sen:wght@700&display=swap');

@font-face {
  font-family: myFont;
  src: url(./trade-gothic-lt-std-extended_JmcsL/myFont/Trade\ Gothic\ LT\ Std\ Extended.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  border-radius: 20px 20px 0 0;
  width: 100%;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.query {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 60%;
  padding: 12px 12px 0px 12px;
  justify-content: space-around;
  align-items: center;
  background-color: #CDEAE1;
  border-radius: 18px;
  transform: translateY(-50%);
}

.query .emailsubmit {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  justify-content: space-around;
  padding: 25px;
  max-width: 500px;
}

.query .email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 56px;
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border: none;
  padding: 20px;
}

.query .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  height: 56px;
  background: #112211;
  border-radius: 4px;
  color: #FFFFFF;
  flex-grow: 1;
  transition: ease 0.3s;
  border: 0px;
}

.query .submit:hover {
  background-color: #204e3e;
  transition: ease 0.3s;
}

.query p {
  font-family: 'Sen', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  margin: 15px;
  text-align: center;
  color: #112211;
}


.social-links {
  padding: 1rem;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 12px;
  max-width: 100%;
}

.social-icons {
  width: 24px;
  height: 24px;
}

.image img {
  width: 325px;
  margin: 20px 20px -5px 0;
}

.lowerFooter {
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Margarine', cursive;
  font-size: 30px;
}

.social-icons {
  color: black;
  transition: all .1s ease-in-out; 
}

.social-icons:hover{
  color: black;
  transform: scale(1.5);
}

@media screen and (max-width:900px) {
  .footer {
    margin-top: 300px;
  }

  .query {
    width: 90% !important;
    flex-direction: column !important;
    align-items: center;
  }

  .query p {
    font-size: 27px;
    line-height: 30px;
    letter-spacing: -2px;
  }

  .querytext {
    margin-top: 10px !important;
  }

  .emailsubmit {
    padding: 20px !important;
  }

  .lowerfooter {
    margin-top: -220px;
  }

  .query img {
    width: 80%;
    max-width: 300px;
    margin: 20px 20px -6px 20px;
  }

  .submit {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width:400px) {
  .emailsubmit {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  .query p {
    font-size: 25px;
  }
}