@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300&family=Sen:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;400&family=Sen:wght@400;700;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.alumpage {
    overflow: hidden;
}

.submitButton {
    margin-top: 20px;
    width: 'auto';
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 12px 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.alum {
    margin: 0 10px;
}

.memory {
    margin: 82px 10px 10px 0px;
    background-color: #f4f0f8;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .form-label {
    margin-right: 10px;
} */

/* .form-control {
    margin-right: -10px;
} */

label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea {
    border: 1px solid #ccc;
    color: #333;
    width: calc(100% - 30px);
}

input,
textarea {
    border-radius: 4px;
    padding: 8px 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    width: 300px;
}

.memory_head {
    font-size: 32px;
    font-weight: 600;
    font-family: "Sen";
}

.memory_title {
    font-size: 20px;
    padding-top: 12px;
    font-family: "Sen";
    padding-top: 12px;
}

.alumnuscard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #faf7ea;
    border-radius: 10px;
    padding: 30px;
    /* height: calc(100vh - 124px); */
    position: relative;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.175);

    width: 100%;
    height: 100%;
    /* width: 305px; */
    /* height: 496px; */
}

.headshot {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.name {
    font-family: 'Sen', sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: bold;
}

.batch {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6D6E76;
}

.desc {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* position: absolute;
    bottom: 0; */
    margin-top: 20px;
}

.alumnuscard .social-icons {
    margin-left: 0;
}

.leftboxAlumni {
    background-color: #222436;
    border-radius: 12px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    z-index: 20;
}

.leftboxAlumni .active span {
    color: #fed051;
    font-weight: 700;
}

.leftboxAlumni.active {
    border-bottom-right-radius: 0;
}

.namebatch {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 48px;
}

@media screen and (max-width:1200px) {
    .alumnuscard {
        /* height: calc(100vh - 200px); */
        margin: auto;
        max-width: 400px;
        max-height: 600px;
    }
}

.alumForm {
    margin-top: 75px;
}

.alumFormButton {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .headshot {
        margin-bottom: 20px;
    }

    .memory {
        margin-top: 20%;
    }

    .pad-btn {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .leftboxAlumni {
        margin-top: 67px;
    }
}


@media screen and (max-width: 440px) {
    .form-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 4px;
    }
}