@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@700&family=Inter:wght@700&family=Manrope:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.leftbox {
    background-color: #222436;
    /* max-width: 300px; */
    padding: 30px 15px;
    margin: 30px 15px;
    border-radius: 6px;
    height: calc(100vh - 60px);
    overflow-y: auto;

    position: fixed;
    width: 300px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.boxheader {
    display: block;
    background-color: #8DD3BB;
    padding: 7px 10px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-size: 26px;
    color: #fcfdfd;
    border-radius: 5px;
    text-align: center;
}

.yearbox {
    padding: 10px;
    background-color: #FCFCFC;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    transition: 0.3s;
}

.yearbox:hover {
    cursor: pointer;
    background: #8DD3BB;
    transition: 0.3s;
}

.yearbox:hover .icon,
.yearbox:hover span {
    transition: 0.3s;
    color: #fcfdfd;
}

.yearbox .icon {
    width: 24px;
    /* font-size: 24px; */
    color: #808191;
    margin-right: 5px;
}

.yearbox span {
    font-family: 'Manrope', sans-serif;
    color: #808191;
    font-size: 18;
}

.rightbox {
    margin-left: 330px;
    padding: 20px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event {
    margin: 10px;
    /* background-color: black; */
    height: calc(50vh - 40px);
    border-radius: 8px;
    position: relative;
    
    display: flex;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
}

.event img {

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.event span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position: absolute;
    display: block;
    font-size: 24px;
    color: white;
    z-index: 10;
    left: 0;
    right: 0;
    text-align: center;
}